<!-- games/index -->
<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= "#{game.home_team} vs. #{game.away_team}" %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
